* {
  box-sizing: border-box;
}

#navbar {
    background-color: rgba(237, 240, 15, 0.883);
    width: 100%;
}

.header {
  font-size: xx-large;
  color: rgba(115, 115, 96, 0.883);
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
}

.new-button {
  border-radius: 30px;
  margin-bottom: 15px;
}

.new-button a {

  color: rgba(115, 115, 96, 0.883);
}

.new-button :hover {
   color: white;
  }

.show-buttons {
  flex-direction: row-reverse;
  padding-right: 570px;
  column-gap: 20px;
}



input[type],
textarea {
  display: block;
  width: 90%;
  margin: auto;
  box-shadow: rgba(237, 240, 15, 0.883) 0px 50px 100px -20px, rgba(237, 240, 15, 0.883) 0px 30px 60px -30px, rgba(237, 240, 15, 0.883) 0px -2px 6px 0px inset;
}

.edit-h1, .new-h1{
    text-align: center;
    font-size: xx-large;
}

.edit_labels, .new_labels{
    text-decoration-style: wavy;
    font-size: medium;
    text-decoration-color: rgba(237, 240, 15, 0.883);
    text-decoration-line: underline;
   
}

.edit-page, .new-page{
    background-color: rgba(115, 115, 96, 0.883);
    padding: 20px 10px 200px 10px;
    /* text-align: center; */
    
}

.edit-button, .new-button{
    background-color: black;
    color: rgba(237, 240, 15, 0.883);
}

form{
    padding: 20px;
    border: 5px solid black;
    margin: 10;
}

.error{
    background-color:rgba(115, 115, 96, 0.883);
}

.return-home {
 color: rgba(237, 240, 15, 0.883)
}

.index {
  text-align: center;
  background-color: dimgray;
}

.Snacks {
  grid-area: 1 / 3 / 5 / 6;
  height: calc(100vh - 161px);
  overflow-y: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.info {
  grid-template-rows: 1fr 1fr;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
}

.snack-card {
  border-style: solid;
  border-color: black;
  border: solid;
}

#footer {
  background-color: rgba(237, 240, 15, 0.883);
  margin-top: 200px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

main {
  padding-bottom: 100px;
}

#footer ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 5px 0px 5px;
  list-style-type: none;
  color: rgba(115, 115, 96, 0.883);
}

#footer ul a {
  font-size: medium;
}

#footer ul a:hover {
  color: rgba(115, 115, 96, 0.883);
}

